label{
    font-weight: bold;
}
label p{
    font-weight: 400;
    padding-top:5px;
}
 
 /* gridview */
 .row{
    overflow: hidden;
    box-sizing: content-box;
    width:100%;
    background-color: #fff;
}
/* .row{
    box-sizing: border-box;
    overflow: hidden;
    width:95%;
    
} */
.column{
box-sizing: border-box;
  font-size: 90%;
  height:30px;
  padding-top:5px;
  text-align: center;
  float:left;
  border-bottom: 1px solid #111;
}
#viewbutton{
  margin-right: 2px;
  width: 60px;
  height: 22px;
}
#historybutton, #removebutton{
width: 60px;
height: 22px;
}
/* account gridview  */
#sn{
 width: 5%;
 border-right: 1px solid #111;  
}
#acc{
width: 20%;
border-right: 1px solid #111;  
}
#name{
width: 30%;
border-right: 1px solid #111;  
}
#type{
width: 10%;
border-right: 1px solid #111;  
}
#bal{
    padding-left:20px;
text-align: left;
width: 15%;
border-right: 1px solid #111; 
}
#action{
width: 20%;
}
#headerrow{
background-color: #f3f3f3;
font-weight:bold;
border-top: 1px solid #111;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}
.row h3{
  text-align: center;
}
.row button{
width:31%;
height: 20px;
}
@media screen and (max-width:760px){
     /* gridview */
     .row{
        overflow: hidden;
        box-sizing: content-box;
        width:100%;
        background-color: #fff;
    }
    /* .row{
        box-sizing: border-box;
        overflow: hidden;
        width:95%;
        
    } */
  .column{
    box-sizing: border-box;
      font-size: 80%;
      height:35px;
      padding-top:5px;
      text-align: center;
      float:left;
      border-bottom: 1px solid #111;
  }
  #viewbutton,#historybutton, #removebutton{
      width: 70px;
      height: 22px;
  }
#sn{
     width: 10%;
}
#acc{
    width: 45%; 
}
#name{
    width: 45%;
}
#type{
    width: 15%; 
}
#bal{
    width: 35%; 
}
#action{
    width: 50%;
    border-right: 1px solid #111;
}
#headerrow{
    background-color: #f3f3f3;
    font-weight:bold;
    border-top: 1px solid #111;
}
  .row button{
    width:28%;
    height: 15px;
}
/*    end of mini-gridview    */
}