*{
    margin:0;
    padding:0;
    font-family: Century Gothic;
}
.container{
    width: 80%;
    margin: 0 auto;
}
h1{
    font-size: 200%;
    font-weight: 800;
    line-height:155%;
}
h2{
    font-size: 140%;
    font-weight: 600;
    line-height:155%;
}
h3{
    font-size: 120%;
    line-height:155%;
    font-weight: 400;
}
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/banner3.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
header a{
    text-decoration: none;
}
#logo{
    text-decoration: none;
    text-align: center;
    font-size: 150%;
    font-weight: 700;
    color:#111;;
    display: block;
    margin-top:15px;
    width:150px;
    height:auto;
    border:1px solid #000;
    float:left;
}
nav{
    float: right;
    margin-top: 25px;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display:inline-block;
    float: left;
}
nav ul li a{
    text-decoration: none;
    color: #111;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
nav ul li a:hover,  nav ul li a.active{
    background-color: #fff;
    color:#111;
}
#menu-icon i{
    display: none;
    color: #111;
    font-size:200%;
}
a:hover#menu-icon{
    border-radius: 4px 4px 0 0;
}
.header-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header-text h1, h2{
    color: #111;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 6px #f1f1f1;
}
.header-text h2{
}
.btn-grp{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    transition: 0.6s ease;
}
.btn:hover{
    background-color: #fff;
    color:#111;

}
@media screen and (max-width:760px){
    h1{
        font-size:160%;
    }
    #menu-icon{
        display: inline-block;
    }
    #menu-icon i{
        display: block;
        color:#111;
    }
    nav{
        float: right;
        margin-top: 13px;
    }
    
    nav ul, nav:active ul{
        display: none;
        z-index: 1000;
        position: absolute;
        padding: 20px;
        background: #fff transparent;
        right: 65px;
        top: 40px;
        border: 1px solid #111;
        width: 20%;
        min-height: 120px;
        opacity: 0.8;
    }
    nav ul li{
        line-height:1.5;
        width: 100%;
        padding-bottom: 10px;
    }
   
    nav:hover ul{
        display: block;
    }
}

    .btn-close {
    color: #aaaaaa;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0;
    }
    .btn-close:hover {
    color: #919191;
    }
    .modal:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    }
    .modal:target:before {
    display: block;
    }
    .modal:target .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 20%;
    }
    .modal-dialog {
    background: #fefefe;
    border: #333333 solid 1px;
    border-radius: 5px;
    margin-left: -200px;
    position: fixed;
    left: 50%;
    top: -100%;
    z-index: 11;
    width: 360px;
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    }
    .modal-body {
    padding: 20px;
    }
    .modal-header,
    .modal-footer {
    padding: 10px 20px;
    }
    .modal-header {
    border-bottom: #eeeeee solid 1px;
    }
    .modal-header h2 {
    font-size: 20px;
    }
    .modal-footer {
    border-top: #eeeeee solid 1px;
    text-align: right;
    }
    /*ADDED TO STOP SCROLLING TO TOP*/
    #close {
    display: none;
    }
    .form-inbox input{
        width: 250px;
        margin-bottom: 20px;
    }
    .form-inbox input[type=text], input[type="password"], input[type="email"], input[type="number"]{
        border: none;
        border-bottom: 1px solid #111;
        background: transparent;
        outline: none;
        height:40px;
        font-size: 100%;
    }
    .form-inbox input[type=submit]{
        border: none;
        outline:none;
        height:40px;
        background: #111;
        color: #fff;
        font-size:100%;
        border-radius: 20px;
    }
    .form-inbox p{
        margin:0;
        padding:0;
        font-weight: bold;
    }